@import "./variables";

form {
  position:relative;
  display:flex;
  margin-right:2em;
  box-shadow: 0 0 6px var(--box-shadow-dark-blue);
  width:180px;
  select {
    width:180px;
    background:var(--dark-blue);
    appearance: none;
    outline: none;
    border: none;
    color: var(--white);
    padding:1.2em 1.5em;
  }
  .arrow-wrapper {
    font-size:0.8em;
    pointer-events: none;
    position:absolute;
    top:50%;
    right:15px;
    transform: translateY(-50%);
    path {
      fill : var(--white);
    }
}
}

@media(max-width:950px) {
  form {
    margin-top:2em;
    margin-left:1.5em;
  }
}