@import "./variables";

* {
  font-family: $main-font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --very-dark-blue-light-mode: hsl(200, 15%, 8%);
  --dark-gray: hsla(0, 0%, 52%, 0.447);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: white;
  --box-shadow-dark-blue: var(--dark-blue);
  background: var(--very-dark-blue);
  transition: all 0.1s ease-in-out;
}

body.dark {
  --dark-blue: hsl(0, 0%, 98%);
  --very-dark-blue: hsl(0, 0%, 98%);
  --white: hsl(200, 15%, 8%);
  --box-shadow-dark-blue: var(--dark-gray);

}

img {
  display: block;
}

.overflow-hidden {
  overflow-y: hidden;
}
