@import "./variables";

.detailed-country {
  position: fixed;
  background-color: var(--very-dark-blue);
  width: 100%;
  top: 62px;
  left: 0;
  display: flex;
  height:100vh;
  overflow-y: auto;
  flex-direction: column;
  padding-bottom:5rem;
  .back-button {
    background-color: var(--dark-blue);
    border: none;
    padding: 0.55em 1.25em 0.55em 1.75em;
    width: 100px;
    color: var(--white);
    margin-top: 3em;
    margin-left: 3em;
    margin-bottom: 2em;
    cursor: pointer;
    box-shadow: 0 0 6px var(--box-shadow-dark-blue);
    position: relative;
    transition: all 0.2s ease-in-out;
    svg {
      position: absolute;
      left: 17px;
      top: 50%;
      transform: translateY(-50%);
    }
    &:hover {
      opacity: 0.75;
    }
  }
  h1 {
    color: var(--white);
  }
  p {
    color: var(--white);
    font-size: 0.9rem;
    span {
      font-weight: 600;
    }
  }
  .info {
    display: flex;
    margin-left: 3em;
    margin-right: 3em;
    display: flex;
    .info-img-wrapper {
      width: 50%;
      display: flex;
      img {
        width: 90%;
        object-fit: cover;
        max-height: 300px;
      }
    }
    .facts {
      width: 50%;
      margin-left: 4rem;
      h1 {
        margin-bottom: 1em;
        font-size: 1.5rem;
      }
      .facts-details-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 1em;
        line-height: 2em;
        .facts-details-wrapper-left {
          display: flex;
          flex-direction: column;
          width: 100%;
        }
        .facts-details-wrapper-right {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-left: 2.5rem;
        }
      }
      .facts-neighboring-country-wrapper {
        h3 {
          margin-top: 1rem;
          color: var(--white);
          font-size: 1rem;
        }
        .border-countries {
          button {
            border: none;
            background: transparent;
            margin-top: 1rem;
            min-width: 130px;
            font-size: 0.9rem;
            margin-top: 0.5rem;
            cursor: pointer;
            padding: 0.3rem 1.2rem;
            background: var(--dark-blue);
            margin-right: 1rem;
            box-shadow: 0 0 6px var(--box-shadow-dark-blue);
            position: relative;
            transition: all 0.2s ease-in-out;
            .border-country {
              text-decoration: none;
              color: var(--white);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .detailed-country {
    height: 100%;
    top: 52px;

    .info {
      flex-direction: column;
      .info-img-wrapper {
        width: 100%;
        margin-top: 1.5em;
        img {
          width: 100%;
        }
      }

      .facts {
        width: 100%;
        margin-left: 0;
        h1 {
          font-size: 1.35rem;
          margin-top: 1.15em;
        }
        .facts-details-wrapper {
          flex-direction: column;
          .facts-details-wrapper-left {
            margin-bottom: 3em;
          }
          .facts-details-wrapper-right {
            margin-right: 0rem;
            margin-left: 0;
          }
        }
      }
    }
  }
}
